<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/app.css">

<div class="flex-container">
    <div class="container">
        <h1>JOIN US</h1>
        <p class="lead">You have already signed up with this email. Thank you.</p>
    </div>
</div>
